In [2]:
import pandas as pd

# get data from csv file
df = pd.read_csv('restaurants.csv')
df

,NOM,ADRESSE,NOTE,FOURCHETTE DE PRIX
0,Orgueil,"6 rue Popincourt, 75011 Paris France","5,0",20€ - 55€
1,The Green Goose,"19 rue des Boulets, 75011 Paris France","4,5","Brasserie gastronomique, Irlandaise, Bar, Euro..."
2,Cavale,"40 Rue des Petites Écuries, 75010 Paris France","5,0","Française, Européenne, Saine"
3,Pur' - Jean-François Rouquette,"5 Rue de La Paix Park Hyatt Paris, 75002 Paris...","5,0",250€ - 490€
4,Chez Nicos,"44 rue Mouffetard, 75005 Paris France","4,5",4€ - 10€
...,...,...,...,...
62,Il Etait Un Square,"54, Rue Corvisart, 75013 Paris France","5,0","Française, Steakhouse, Européenne"
63,La Maison du Knafé,"5 Rue Paul Albert, 75018 Paris France","5,0",5€ - 20€
64,Les Freres Bretons,"117, Boulevard de Grenelle Métro la motte picq...","4,5",5€ - 12€
65,Grains Nobles et Plus,"8 rue Boutebrie, 75005 Paris France","4,5",19€ - 43€
66,Miura,"15, rue de l'Arc de Triomphe, 75017 Paris France","5,0",59€ - 85€